extends layouts/frontend

include includes/_mixins

block head
  //- Inject here JS and styles for this specific page

block content
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.ten.wide.tablet.seven.wide.computer.column
        if flashMessages 
        each flashMessage in flashMessages
            +message(flashMessage.type) #{flashMessage.message}
        if user 
            h1 Welcome #{user.firstName} #{user.lastName}
            h3 Update your info here.
        form.ui.large.form(method="post" action="/userRole")
            .ui.segment
                +field('text', 'firstName', 'First name', user.firstName)
                +field('text', 'lastName', 'Last name', user.lastName)
                +field('email', 'email', 'your.email@address.tld', user.email)
                label(for="role") 
                select(name="role" id="role")
                    option(value="0", selected=user.role === 0) User
                    option(value="1", selected=user.role === 1) Admin
                +fieldhidden('hidden', 'email_old', '', user.email)
                button(type="submit").ui.fluid.large.teal.submit.button
                    | Submit
            p
                a(href='/logout') Logout
    

